<mat-toolbar align="center" class="space-between" color="warn">
  <span class=" centered">
    <mat-icon>{{icon_header}}</mat-icon>
    {{title_header | translate}}
  </span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content>

  <h3 align="start">{{name}}</h3>
  <p align="start">{{question | translate}}</p>
</mat-dialog-content>

<mat-dialog-actions align="end" style="margin: 20px 0;">

  <!-- Yes -->
  <button mat-raised-button color="warn" mat-dialog-close="Si" cdkFocusInitial>
    <mat-icon>thumb_up</mat-icon>
    {{'buttons.yes' | translate}}
  </button>

  <!-- No -->
  <button mat-raised-button color="" mat-dialog-close>
    <mat-icon>thumb_down</mat-icon>
    {{'buttons.no' | translate}}
  </button>
</mat-dialog-actions>